@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Media Rater</h1>
    <p class="lead">Media Rater is Premnium Place to Get reviews on the latest Media.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Using Media Rater</h2>
        <p>
            Rate your favorite piecese of Media! ajfladj jjfiel dsal lor fldor dksoa rk dirlkd fkdliealk foelask doielr dsaooer
            djakdiksaor dsaddie dor dsakd f saoudsfld aseils dlsaieslfdkd dsaokds 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find the best Media!</h2>
        <p>dk;;dk;lajkd dkdjk seoidc lsieskd fdklsdap disdkfjla odsisal ddifosaldkjf dofsijfkdla fdosaldjsafld odkalksf</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Media Rating</h2>
        <p>d;ajfjd;ladiei dilafkdla fodklajfdsllia ddkjell aodoidjf aodisjdlfjd doskfdjdljfsk dfaslflsajl dilasfjkdjwedih.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>